html, body {
    overflow: hidden;
}

.imagemFundo{
    width: 66%;
    height: 100vh;
    position: relative;
    background-image: url('../../assets/image/image.png');
    background-size: cover;
}

.login{
    width: 34%;
    background-color: #12304A;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    align-items: center;
}

.aguia{
    height: 32%;
}

h1{
    font-family: Poppins;
    font-weight: 700;
    color: #FFF;
}

span{
    font-family: Poppins;
    font-size: 1.1rem;
    color: #FFF;
}

.username{
    width: 55%;
}

.inputControl{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    color: #12304a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #12304a;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.382rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-warning{
    font-family: Poppins;
    width: 55%;
    font-size: 1.5rem;
    border-radius: 50px;
    color: #FFF;
    background-color: #EE7F01;
    border-color: #EE7F01;
}


#usuario {
    text-align: left;
    background: url('../../assets/image/Icon/user.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.6em;
    padding-left: 1.3em;
    background-color: #fff;
}

#senha{
    text-align: left;
    background: url('../../assets/image/Icon/lock.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.6em;
    padding-left: 1.3em;
    background-color: #fff;
}