.titulo-turma{
    font-family: Poppins-bold;
    font-size: 1.3rem;
    color: #FFF;
    background-color: #EE7F01;
    display: flex;
    border-radius: 5px;
    padding: 0.6em;
}

.titulo-turma:hover, .titulo-turma:hover i::before{
    background-color: #fff;
    color: #EE7F01!important;
}

.card-turma{
    background-color: #FFF;
    border-radius: 14px;
}