@font-face {
  font-family: Poppins;
  src: url("../public/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("../public/Poppins/Poppins-Bold.ttf");
}

.bi-house-gear-fill::before, .bi-play-btn::before {
  content: "\f890";
  color: #12304a;
}

#sidebar {
    z-index: 1; 
}

.conteudo-titulo {
  font-family: Poppins-bold !important;
  font-size: 0.9rem;
}

.button-assita {
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
    .col-md-3 {
        width: 100%; 
        margin-bottom: 10px; 
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .col-md-3 {
        width: 50%; 
        margin-bottom: 10px; 
    }
}


@media (min-width: 961px) {
    .col-md-3 {
        width: 25%; 
        
        margin-bottom: 10px; 
    }

    .col-md-3:nth-child(3n) {
        margin-right: 0; 
    }
}

.dashboard-relacao span {
  font-size: 1.5em!important;
  color: #12304A!important;
}

.dashboard-relacao i::before {
  font-size: 1.7em;
  color: #12304A!important;

}

.card-relacao {
  max-width: 15em!important;
  background-color: #fff;
  border-radius: 0.3em;
  text-align: center;
}

.card-pendente:hover, .card-pendente:hover span, .card-pendente:hover i::before{
  background-color: #ff7b10;
  color: white!important;

}

.card-corrigidos:hover, .card-corrigidos:hover span, .card-corrigidos:hover i::before {
  background-color: green;
  color: white!important;
}

.bg-toledo {
  background-color: #12304A;
}