.titulo-simuladores{
    font-family: Poppins-bold;
    color: #FFF;
    background-color: #EE7F01;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}  

.card-simuladores:hover .titulo-simuladores{
    background-color: #fff;
    transition: 0.4s;
    color: black;

}

.card-simuladores{
    height: 100%;
    background-color: #FFF;
    border-radius: 14px;
}

.card-simuladores:hover {
    background-color: #EE7F01;
    transition: 0.4s;
}


.etapa{
    font-size: 0.70rem;
    color: #000;
}

.card-simuladores:hover .etapa{
    transition: 0.4s;
    color: #FFF;
}

.nomes{
    color: #000;
    background-color: #AEACAC;
    border-radius: 6px;
    padding: 4px;
}

.card-simuladores:hover .nomes{
    background-color: #7a7a7a;
    color: #FFF;
    transition: 0.4s;
}

.footer-card{
    display: flex;
    justify-content: center;
}

.link{
    font-size: 0.75rem;
    color: #000 !important;
    display: flex;
    justify-content: center;
}

.card-simuladores:hover .link{
    color: #FFF !important;
    transition: 0.4s;
}

.bi-arrow-right::before {
    content: "\f138";
    color: #000;
    margin-left: 5px;
}

.card-simuladores:hover .bi-arrow-right::before{
    color: #FFF;
    transition: 0.4s;
}

.bi-diagram-2::before {
    content: "\f2ec";
    margin-right: 5px;
    font-size: larger;
    color: #000;
}

.bi-people-fill::before {
    content: "\f4cf";
    color: #000;
    margin-right: 5px;
}

