.imgText{
    display: flex;
    font-size: 3rem;
    font-style: italic;
    color: #fff;
}

img{
    margin-left: 6px;
    position: relative;
    bottom: 3px;
}

.img{
    margin-right: 1rem;
}

.square{
    padding: 35px;
}
