
img{
    margin-left: 6px;
    position: relative;
    bottom: 3px;
}

.img{
    margin-right: 1rem;
}

.formProfessor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square{
    padding: 35px;
}


.bi-person-plus-fill::before {
    content: "\f4dc";
    color: #12304A !important;
    margin-right: 6px;
}
